/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/*html {
  font-size: 14px;
}*/
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}*/

.link-style {
  font-family: 'Codec Pro';
  color: #d8550f;
  font-weight: 800 !important;
  margin: 0;
  border: 0;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  padding: 18px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0;
  transition: all .4s ease-in-out;
}


.link-style:hover {
  transition: all .4s ease-in-out;
  color: #f2a523;
  pointer-events: visible;
  text-decoration: none;
}

.navbar {
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 1470px) {
  .container {
    max-width: 1440px;
  }  
}
