  <div *ngIf="mainPageModel">

    <!-- View Name -->    
      <div *ngFor="let val of mainPageModel.projectTypeModels">
        <h1 class="text-center text-uppercase head-style" [innerHTML]="val.viewName"></h1>
      </div>    

    <!-- Tehnology tags -->
    <div class="container" id="tags">

      <div class="row">
        <div class="col" *ngFor="let val of mainPageModel.tehnologyModels">
          <p class="tag-style" [innerHTML]="val.tName"></p>
        </div>
      </div>
    </div>

    <!-- Description -->    
      <div *ngFor="let val of mainPageModel.layoutDataModels">
        <!-- Heading -->
        <div *ngIf="val.isShowElementName">
          <h2 class="head-style" [innerHTML]="val.elementName"></h2>
        </div>

        <!-- Text -->
        <div class="text-style" [innerHTML]="val.value"></div>

        <!-- Image -->
        <div *ngIf="(val.elementTypeName === 'Image')">          
          <div class="img-style" [innerHtml]="sanitizeImage(val.layoutStyleModel)"></div>
        </div>

        <!-- Iframe -->
        <div *ngIf="(val.elementTypeName === 'Iframe')">
          <h2 class="head-style">Example:</h2>
          <iframe class="iframe-style" [src]="sanitizeIframe(val.layoutStyleModel)" [style]="sanitizeStyles(val.layoutStyleModel)"></iframe>
        </div>

      </div>
    

  </div>

