<div id="wrap">

  <div *ngIf="mainPageModel">

    <!-- View Name -->
    <div *ngIf="mainPageModel.projectTypeModels">
      <div *ngFor="let val of mainPageModel.projectTypeModels">
        <h1 [innerHTML]="val.viewName"></h1>
      </div>
    </div>

    <!-- Tehnology tags -->
    <div *ngIf="mainPageModel.tehnologyModels" class="container" id="tags">

      <div class="row">
        <div class="col" *ngFor="let val of mainPageModel.tehnologyModels">
          <p [innerHTML]="val.tName"></p>
        </div>
      </div>
    </div>

    <!-- Description -->
    <div *ngIf="mainPageModel.layoutDataModels">
      <div *ngFor="let val of mainPageModel.layoutDataModels">
        <!-- Heading -->
        <div *ngIf="val.isShowElementName">
          <h2 [innerHTML]="val.elementName"></h2>
        </div>

        <!-- Text -->
        <div [innerHTML]="val.value"></div>

        <!-- Image -->
        <div *ngIf="(val.elementTypeName === 'Image')">
          <img [src]="val.path" [style]="sanitize(val.layoutStyleModel)"/>
        </div>

        <!-- Iframe -->
        <div *ngIf="(val.elementTypeName === 'Iframe')">
          <iframe [src]="val.path | safe" [style]="sanitize(val.layoutStyleModel)"></iframe>
        </div>

      </div>
    </div>

  </div>



</div>

