/*#tags p {
  display: inline-block;
  border-radius: 15px;
  background: #d8550f;
  color: #f8f9fa;
  padding: 8px;
}*/

/*::selection {
  background-color: #d8550f;
  color: #fff;
}*/

header nav ul li > a {
  color: #d8550f;
  font-weight: 800 !important;
  margin: 0;
  border: 0;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  padding: 18px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0;
}

.head-style {
  font-family: 'Codec Pro', sans-serif;
  color: #d8550f;
  text-transform: capitalize;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 30px;
}

.line-style::before,
.line-style::after {
  display: inline-block;
  content: "";
  border-top: .3rem solid #d8550f;
  width: 4rem;
  margin: 0 1rem;
  transform: translateY(-0.5rem);
}

.text-style {
  font-family: 'Codec Pro', sans-serif;
  color: #4b4b4b;  
}

.text-style a {
  text-decoration: none;
  color: #d8550f;
}

.text-style a:hover {  
  color: #f2a523;
  pointer-events: visible;
}

.tag-style {
  font-family: Codec Pro;
  color: #fff;
  font-weight: 300 !important;
  border-radius: 50px;
  border: transparent;
  position: relative;
  background-color: #d8550f;
  background-image: linear-gradient( 90deg,#f2a523,#d8550f,#d8550f,#f2a523);
  transition: all .4s ease-in-out;
  background-size: 300% 100%;
  padding: 14px 35px;
  text-align: center;
  cursor: pointer;
}

.tag-style:hover {
  transition: all .4s ease-in-out;
  color: #fff!important;
  background-position: 100% 0px;
}

.img-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.img-border {
  border: 15px solid #d8550f;
}

.img-style-ex {
  height: 350px;
  width: 400px;  
}

.iframe-style {
  border: 4px solid;
  border-color: #d8550f;
  border-radius: 15px;  
}

.wrapper {
  background: url('/img/bg.png') no-repeat center;
  background-size: cover;
  position: relative;
}
