#tags p {
  display: inline-block;
  border-radius: 15px;
  background: #d8550f;
  color: #f8f9fa;
  padding: 8px;
}

::selection {
  background-color: #d8550f;
  color: #fff;
}

header nav ul li > a {
  color: #d8550f;
  font-weight: 800 !important;
  margin: 0;
  border: 0;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  padding: 18px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0;
}
