<div *ngIf="mainPageModel" (click)="userClick()">

  <!-- View Name -->
  <div *ngFor="let val of mainPageModel.projectTypeModels">
    <h1 class="text-center text-uppercase head-style line-style" [innerHTML]="val.viewName"></h1>
  </div>

  <!-- Tehnology tags -->
  <div class="container">
    <div class="row ex">
      <!-- Executors -->
      <div class="col align-self-end nopadding">
        <div class="col" *ngFor="let val of mainPageModel.executorModels">
          <h3 class="head-style ex-tag-style">Executors:</h3>
          <span class="text-style">
            <a [innerHTML]="val.executorName" [href]="val.executorProfileLink" [title]="val.roleName">
            </a>;
          </span>
        </div>
      </div>
      <!-- Image -->
      <div class="col align-self-center" *ngFor="let val of mainPageModel.layoutDataModels">
        <div *ngIf="(val.elementTypeName === 'Header Image')">
          <div class="img-style" [innerHtml]="headerImage"></div>
        </div>
      </div>
      <!-- Tehnology tags -->
      <div class="col align-self-start">
        <h3 class="head-style ex-tag-style">Technology tags:</h3>
        <span class="tag-text" *ngFor="let val of mainPageModel.tehnologyModels">
          <span class="tag-style" [innerHTML]="val.tagName"></span>;
        </span>
      </div>
    </div>
  </div>

  <!-- Description -->
  <div *ngFor="let val of mainPageModel.layoutDataModels">
    <div class="container">
      <div *ngIf="val.elementTypeName !== 'Header Description'">
        <!-- Heading -->
        <div *ngIf="val.isShowElementName">
          <h2 class="head-style" [innerHTML]="val.elementName"></h2>
        </div>
        <!-- Text -->
        <div class="text-style" [innerHTML]="val.value"></div>
      </div>
      <!-- Image -->
      <div *ngIf="(val.elementTypeName === 'Image')">
          <div class="img-style" [innerHtml]="images.values().next().value"></div>
      </div>
    </div>
    <!-- Iframe -->
    <div class="ifarme-container" *ngIf="(val.elementTypeName === 'Iframe')" [style]="iframeHeight">
      <div id="rel1">
        <h2 class="text-white text-center head-style">Example:</h2>
      </div>
      <div id="rel2">
        <div class="text-center shadow-1-strong rounded mb-5 text-white">
          <div class="container">
            <iframe class="iframe-style" [src]="iframeSrc" [style]="sanitizeStyles(val.layoutStyleModel)" id="iframeSize" (mouseover)="iframeSize()"></iframe>
            <!-- Button -->
            <span class="text-style">
              <a [href]="sanitizeIframe(val.layoutStyleModel)" target="_blank">Open new tab</a>
            </span>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
