.down {
  cursor: pointer;
}

.show-in-mobile-view {
  display: none;
}

.fix-trouble-with-select {
  top: -11px;
  margin-bottom: -6px;
}

.reset-button-style {
  margin-top: unset !important;
  padding: 5px 30px !important;
  width: 170px;
}

.audit {
  font-weight: 500;
  padding: 0.5rem 0;
  text-align: center;
}

.m-b-43 {
  margin-bottom: 43px;
}

.agency.header {
  right: 13% !important;
}

.agency.header .header-text {
  margin-top: 105px;
}

.agency.header .girl-boy {
  right: 2%;
}

.agency.header  a.btn {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
}

@media (min-width: 1470px) {
  .container {
    max-width: 1440px;
  }
}

.head-style h1{
  font-size: calc(14.81481px + 1.7284vw);
  color: #d8550f;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #d8550f;
}

.short-desc-style {
  color: #4b4b4b;
  font-size: calc(14.07407px + .30864vw);
  letter-spacing: 0;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  line-height: 1.8;
  margin-bottom: 45px;
}

.desc-block {  
  margin-top: 160px;
}

.btn-style {
  font-family: Codec Pro;
  color: #fff;
  font-weight: 500 !important;
  border-radius: 50px;
  border: transparent;
  position: relative;
  background-color: #d8550f;
  background-image: linear-gradient( 90deg,#f2a523,#d8550f,#d8550f,#f2a523);
  transition: all .4s ease-in-out;
  background-size: 300% 100%;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  padding: 14px 60px; 
}

.btn-style:hover {
  transition: all .4s ease-in-out;
  color: #fff !important;
  background-position: 100% 0px;
}
