<div class="row" *ngIf="statusModel.statusCode === 403" style="margin-bottom: 5%; margin-top: 5%;">
  <div class="col-4"></div>
  <div class="col-4 password-field">
    <h1 class="head-style">Sign In</h1>
    <input class="input-style password-margins" style="margin-bottom: 10%;" id="pass" type="text" placeholder="password" />
    <div class="error-message">
      {{ statusModel.errorMessage }}
    </div>
    <input class="tag-style password-margins" style="margin-top: 10%;" type="button" value="Authorize" (click)="login()" />
  </div>
  <div class="col-4"></div>
</div>

<div class="row indentation" *ngIf="statusModel.statusCode === 200 && galleryModels">
  <div class="row col-12 tag-container">    
    <div class="col-4">
      <h3 class="heading">Tags: </h3>
      <div class="row">
        <!--Tags-->
        <mat-chip-list class="my-chip" selectable multiple>
          <mat-chip #c="matChip" *ngFor="let tag of tags; let i = index" [value]="tag" (click)="tagsSelection(c, i)">
            <mat-icon *ngIf="c.selected">check</mat-icon>
            {{tag}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>    
    <div class="col-4">
      <h3 class="heading">Executors: </h3>
      <div class="row">
        <!--Executors-->
        <mat-chip-list class="my-chip" selectable multiple>
          <mat-chip #c="matChip" *ngFor="let executor of executors; let i = index" [value]="executor" (click)="executorsSelection(c, i)">
            <mat-icon *ngIf="c.selected">check</mat-icon>
            {{executor}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="col-4 text-center btn-container">
      <button type="button" class="btn btn-select" (click)="selectTags()">Apply filters</button>
    </div>
    <!-- No results found -->
    <div class="col-md-12 text-center" *ngIf="isModelExist == false">
      <div class="h1 head-style text-center">No results found</div>
    </div>
  </div>

  <div class="row gal-grid">
    <div class="col" *ngFor="let model of galleryModels">
      <!-- Img -->
      <div class="container gal-container" [ngStyle]="{ 'background-image': 'url(' + model.image + ')'}" (click)="modelDetails(model.viewKey, model.viewName)">
        <div class="items head hide-name text-capitalize">
          <!--ViewName-->
          <h1 [innerHTML]="model.viewName"></h1>
        </div>
        <div class="overlay">
          <div class="items"></div>
          <div class="items head text-capitalize">
            <!--ViewName-->
            <h1 [innerHTML]="model.viewName"></h1>
          </div>
          <div class="items desc" *ngIf="model.shortDescription">
            <!-- Short Description -->
            <div *ngFor="let val of model.shortDescription">
              <span [innerHTML]="val"></span>
            </div>
          </div>
          <div class="items">
            <!-- Tehnology tags -->
            <div class="row ">
              <div class="ms-auto p-1 tags" *ngFor="let val of model.tags">
                <span [innerHTML]="val"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
