<div class="row" *ngIf="statusModel.statusCode === 403" style="margin-bottom: 5%; margin-top: 5%;">
  <div class="col-4"></div>
  <div class="col-4 password-field">
    <h1 class="head-style">Sign In</h1>
    <input class="input-style password-margins" style="margin-bottom: 10%;" id="pass" type="text" placeholder="password" />
    <div class="error-message">
      {{ statusModel.errorMessage }}
    </div>
    <input class="tag-style password-margins" style="margin-top: 10%;" type="button" value="Authorize" (click)="login()" />
  </div>
  <div class="col-4"></div>
</div>

<div class="row indentation" *ngIf="statusModel.statusCode === 200 && galleryModels">
  <div class="row col-12">
    <div class="col-1"></div>
    <div class="col-4">
      <div class="row">
        <label class="col-4 text-style">Tags: </label>
        <select class="col-8 select-style" (change)="filterSelect($event, 'tag')">
          <option disabled selected value="undefined">Select a technology</option>
          <option *ngFor="let tag of tags" value={{tag}}>{{tag}}</option>
        </select>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-4">
      <div class="row">
        <label class="col-4 text-style">Executors: </label>
        <select class="col-8 select-style" (change)="filterSelect($event, 'executor')">
          <option disabled selected value="undefined">Select an executor</option>
          <option *ngFor="let executor of executors" value={{executor}}>{{executor}}</option>
        </select>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="col" *ngFor="let model of galleryModels">
    <!-- Img -->
    <div class="container gal-container" style="background-image: url('/img/test1.jpg');">
      <div class="items head hide-name">
        <!--ViewName-->
        <h1 [innerHTML]="model.viewName" (click)="modelDetails(model.viewKey)"></h1>
      </div>
      <div class="overlay">
        <div class="items"></div>
        <div class="items head">
          <!--ViewName-->
          <h1 class="name" [innerHTML]="model.viewName" (click)="modelDetails(model.viewKey)"></h1>
        </div>
        <div class="items desc">
          <!-- Short Description -->
          <div *ngFor="let val of model.shortDescription">
            <span [innerHTML]="val"></span>
          </div>
        </div>
        <div class="items">
          <!-- Tehnology tags -->
          <div class="row justify-content-center">
            <div class="col-sm tags" *ngFor="let val of model.tags">
              <span [innerHTML]="val"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
