.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}


.child {
  flex: 1 1 21%; /* explanation below */
  margin: 5px;
  

}

.gal-container {
  /*width: 500px;*/
  /*height: 500px;  */
  background-color: black;
  background-size: cover;
  cursor: pointer;
  /* -webkit-box-shadow: 0 0 5px #000;*/
  box-shadow: 0 0 5px #000;
  padding: 0;
  border-radius: 13px;
  /*margin: 20px;*/

}

.overlay {
 /* width: 100%;
  height: 100%;*/
  /*display: grid;*/
  /*grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;*/
  background: linear-gradient(rgba(216, 85, 15, 0.5),rgba(242, 165, 35, 0.5));
  color: #FEF5DF;
  opacity: 0;
  transition: all 0.5s;
  font-family: 'Codec Pro', sans-serif;
  border-radius: 13px;
}


.items {
  padding: 20px;
  letter-spacing: 3px;
}

.head {
  font-size: 30px;
  line-height: 40px;
  text-decoration: none;
}

.head h1:hover {
  text-decoration: underline;
  transition: all .5s;
}

/*.head h1:hover::before {
  transform: scaleX(1);
}*/



/*h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: top right;
  transition: transform 0.3s ease;
}*/












.desc {
  font-size: 15px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  
}


.tags {
  font-size: 15px;
  opacity: 0;
  letter-spacing: 1px;
  transform: translateY(40px);
  transition: all 0.7s;
  margin-bottom: 10px !important;
}



.tags span {
  color: #d8550f;  
  border-radius: 13px;
  background-color: #EEEBE8;
  opacity: 0.7;
  padding: 5px 5px;
  text-align: center;
  cursor: pointer;
  transition: all .4s ease-in-out;
  
  white-space: nowrap;
}



.container:hover .overlay {
  opacity: 1;
}

.container:hover .overlay.head {
    transform: translateY(0px);
}

.container:hover .desc {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}

.container:hover .tags {
  transform: translateY(0px);
  transition-delay: 0.6s;
  opacity: 1;
}


