<div class="container">
  <div class="row" *ngIf="exceptionModel.statusCode === 403">
    <div class="col-2"></div>
    <div class="col-8">
      <h1>{{exceptionModel.errorMessage }}</h1>
      <input id="pass" type="text" placeholder="password"/>
      <input type="button" value="Authorize" (click)="login()"/>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row" *ngIf="exceptionModel.statusCode === 200">
    <div class="col-md-12 py-3">
      <ngb-carousel *ngIf="galleryModels">
        <ng-template ngbSlide *ngFor="let model of galleryModels">

          <!-- Img -->
          <img class="d-block w-100 img" src="/img/test1.jpg" alt="Random slide">
          <div class="carousel-caption">

            <!-- ViewName -->
            <h1 [innerHTML]="model.viewName"></h1>

            <!-- Executors -->
            <div class="container">
              <div class="row">
                <div class="col-sm" *ngFor="let val of model.executors">
                  <span [innerHTML]="val.executorName"></span> -
                  <span [innerHTML]="val.roleName"></span>
                </div>
              </div>
            </div>

            <!-- Tehnology tags -->
            <div class="container">
              <div class="row">
                <div class="col-sm" *ngFor="let val of model.tags">
                  <span [innerHTML]="val"></span>
                </div>
              </div>
            </div>

            <!-- Short Description -->
            <div *ngFor="let val of model.shortDescription">
              <p [innerHTML]="val"></p>
            </div>

          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
