.row {
  display: flex;
}

.indentation {
  margin: 0 100px 0 100px;  
}

.col {
  display: grid;
  flex-basis: 30%;
}

.tag-container {
  margin: 0 0 30px 20px;
  border: solid #e0e0e0;
  padding: 40px 10px;
}

.col-12 {
  flex: 0 0 98%;
  max-width: 98%;
}

.gal-container {
  background-color: black;
  background-size: cover;
  cursor: pointer;
  box-shadow: 0 0 5px #000;
  padding: 0;
  border-radius: 13px;
}

.hide-name {
  position: absolute;
  margin-top: 40px;
  color: #FEF5DF;
}

.col:hover .hide-name {
  color: rgba(0, 0, 0, 0);
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(216, 85, 15, 0.95),rgba(242, 165, 35, 0.8));
  color: #FEF5DF;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 13px;
}

.items {
  padding: 20px;
}

.head {
  font-size: 30px;
  line-height: 40px;
}

.desc {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  font-weight: 300;
  font-style: normal;
}

.tags {
  opacity: 0;
  letter-spacing: 1px;
  transform: translateY(40px);
  transition: all 0.7s;
  margin-bottom: 15px !important;  
}

.tags span {
  color: #d8550f;
  border-radius: 13px;
  background-color: #EEEBE8;
  opacity: 0.7;
  padding: 5px 5px;
  text-align: center;
  cursor: pointer;
  transition: all .4s ease-in-out;
  white-space: nowrap;
}

.container:hover .overlay {
  opacity: 1;
}

.container:hover .overlay.head {
  transform: translateY(0px);
}

.container:hover .desc {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}

.container:hover .tags {
  transform: translateY(0px);
  transition-delay: 0.6s;
  opacity: 1;
}

.img {
  filter: brightness(50%)
}

.head-style {
  color: #d8550f;
  text-transform: capitalize;
  margin-top: 5%;
  margin-bottom: 7%;
}

.tag-style {
  font-size: 1.45rem;
  color: #fff;
  border-radius: 25px;
  border: transparent;
  position: relative;
  background-color: #d8550f;
  transition: all .4s ease-in-out;
  padding: 14px 35px;
  text-align: center;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 2%;
}

.select-style {
  padding: 8px 16px;
  border: 3px solid #d8550f;
}

.select-style:focus-visible {
  box-shadow: none;
  outline: 0;
}

.heading {
  color: #d8550f;
}

.input-style {
  text-align: center;
  width: 100%;
  color: #d8550f;
  padding: 2% 2%;
  border: 3px solid #d8550f;
  border-radius: 25px;
  background-color: #fff;
  font-size: 1.45rem;
}

.password-margins{
  margin-top: 7%;
  margin-bottom: 13%;
}

.password-field{
  text-align: center;
  border-radius: 25px;
  background-color: #f2a523;
  padding: 3%;
}

.error-message{
  color: #fff;
  text-align: center;
  font-size: 1.45rem;
  width: 100%;
  height: 2rem;
}

::-webkit-input-placeholder {
  color: #d8550f;
}

:-moz-placeholder { /* Firefox 18- */
  color: #d8550f;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #d8550f;
}

:-ms-input-placeholder {
  color: #f2a523;
}

mat-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-right: 5px;
}

.btn-select {
  font-size: calc(14.44444px + .18519vw);
  background-color: #d8550f;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 50px;
  letter-spacing: 1px;
  letter-spacing: 1px;
}

.btn-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.my-chip .mat-standard-chip {
  font-weight: 300;
}

.my-chip .mat-chip-selected {
  background-color: #f2a523;
  color: #fff;  
}
