<footer class="agency bg-footer" id="footer">
  <div class="container">
    <div class="row">
      <!--Logo img-->
      <div class="col-sm-3 ">
        <div class="d-flex logo-footer">
          <a href="/">
            <img src="/img/logo-footer.png" alt="Custom Solutions Logo Footer"
                 id="footerImg" loading="lazy">
          </a>
        </div>

      </div>
      <!--Contact-->
      <div class="col-sm-4">
        <h1 class="text-white head">Contact us</h1>
        <div class="contact-details m-t-105">
          <h6 class="contact-sub-text text-white">            
            <i aria-hidden="true"
               class="fa fa-envelope fa-sm"></i><span>sales</span>@customsolutions.info
          </h6>
          <h6 class="contact-sub-text text-white">
            <i aria-hidden="true"
               class="fa fa-envelope fa-sm"></i><span>info</span>@customsolutions.info
          </h6>
          <h6 class="contact-sub-text text-white">            
            <i aria-hidden="true"
               class="fa fa-map-marker-alt fa-sm"></i>Naberezhna Peremohy St, 7,
            Dnipro,
            Dnipropetrovsk Oblast, 49000<br>
          </h6>
        </div>
      </div>
      <!--Feedback-->
      <div class="col-sm-5">
        <h1 class="text-white text-center head">Send feedback about project</h1>
        <div class="form form-footer m-t-95 ">
          <form #myForm [formGroup]="firstFormGroup" (ngSubmit)="sendFeedback(myForm)" class="row">
            <div class="col-12">
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Message" name="text"
                          formControlName="textCtrl" aria-label="textarea-about" [(ngModel)]="message"></textarea>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="email" placeholder="E-mail" formControlName="emailCtrl"
                       aria-label="input-email" [(ngModel)]="email">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" formControlName="nameCtrl" placeholder="Name"
                       aria-label="input-name" [(ngModel)]="name">
              </div>
            </div>
            <div class="col-sm-12 d-flex justify-content-center m-b-25" id="hide-captcha">              
            </div>
            <div class="form-group booking">
              <button class="btn btn-default primary-btn m-0-auto bg-black p-l-r-80 button-sound font-weight-bold"
                      type="submit">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center m-b-10 m-t-10">
    <div class="follow-toolbox">




      <!-- Linkedin -->
      <a class="btn btn-primary icon-style icon" style="background-color: #0077b5;" href="http://www.linkedin.com/company/custom-it-solutions">
        <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
      <!-- Instagram -->
      <a class="btn btn-primary icon-style icon" style="background-color: #e13566;" href="http://instagram.com/custom_solutions.info">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
      <!-- Youtube -->
      <a class="btn btn-primary icon-style icon" style="background-color: #cd201f;" href="http://www.youtube.com/channel/UCMcvdQCXx5kg_gd6j-80RpA?sub_confirmation=1">
        <i class="fab fa-youtube fa-lg"></i>
      </a>
      <!-- Facebook -->
      <a class="btn btn-primary icon-style icon" style="background-color: #3b5998;" href="http://www.facebook.com/CustomSolutions.info">
        <i class="fab fa-facebook-f fa-lg"></i>
      </a>

      <!-- Twitter -->
      <a class="btn btn-primary icon-style icon" style="background-color: #1da1f2;" href="http://twitter.com/intent/follow?source=followbutton&variant=1.0&screen_name=CstmSltns">
        <i class="fab fa-twitter fa-lg"></i>
      </a>

      





    </div>
  </div>
  <div class="text-center">
    <h6 class="text-white copyright"><span>Custom Solutions</span> &copy; 2020</h6>
  </div>
</footer>
