h1 {
  font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1920 - 300)));
}

button {
  font-size: calc( 16px + (25 - 16) * ((100vw - 300px) / (1920 - 300)) ) !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  color: #f2a523 !important;
  font-weight: 400 !important;
}

.lh25 {
  line-height: 25px;
}

.p-l-r-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.copyright {
  background: #f2a523;
  font-size: calc(15px + (16 - 13) * ((100vw - 300px) / (1920 - 300)));
  font-weight: 500;
  padding: 18px 0;
}

.contact-details {
  margin-top: 95px;
}

.contact-details p { 
  font-size: 125%;  
}

.contact-details h6.contact-sub-text {
  font-weight: 300;
  margin-bottom: 25px;
}

h6.contact-sub-text {
  font-weight: 400;
  font-size: calc(14px + (18 - 13) * ((100vw - 300px) / (1920 - 300)));
}

.bg-footer {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background: #f2a523;
  padding-top: 70px;
  padding-bottom: 10px;
}

.bg-footer h6 {
  text-transform: none;
}

.bg-footer .booking {
  margin: 0 auto;
}

.bg-footer .booking .btn {
  background: #fff;
  margin-top: 5px;
}

div.d-flex.align-items-end {
  justify-content: center;
}

div.d-flex.align-items-end h6 {
  font-size: calc(17px + (18 - 13) * ((100vw - 300px) / (1920 - 300)));
  padding-bottom: 7px;
}

.justify-content-center {
  display: flex !important;
  align-items: flex-end;
}

.form-footer {  
  margin-top: 95px;
}

.form-footer .form-group {
  margin-bottom: 30px;  
}

.form-footer .form-group input {
  width: 100%;
  background-color: #f2a523;
  padding: 30px 30px;
  border: 3px solid #fff;
  border-radius: 25px;
  color: #fff;
  font-weight: 300;
}

.form-footer .form-group textarea {
  width: 100%;
  background-color: #f2a523;
  padding: 30px 30px;
  border: 3px solid #fff;
  border-radius: 25px;
  color: #fff;
  font-weight: 300;
}

.form-footer .form-group input {
  outline: none;
}

.form-footer .form-group  textarea :focus {
  outline: none;
}

.form-footer .form-group input {
  padding: 10px 30px;
}

.form-control:focus {
  box-shadow: none;
  background-color: #f5f5f8;
}

.form-control::placeholder {
  color: #fff;
  opacity: 1;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

form .form-group {
  margin-bottom: 60px;
  font-weight: normal;
}

form .form-group .form-control:focus{
  box-shadow: none;
}

form .form-group label {
  color: #d8550f;
  margin-bottom: 0;
  font-weight: 500;
}

form .btn-default {
  padding: 18px 45px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 50px;
  padding-left: 80px;
  padding-right: 80px;
  opacity: .65;
  transition: all .4s ease-in-out;
}

.btn-default:hover {
  color: #d8550f !important;
  border: 1px solid #d8550f;
}

.form-group {
  font-weight: 200;
}

footer {
  padding: 70px 0 10px;
  text-align: left;
  font-family: 'Codec Pro', sans-serif;
  margin-top: 30px;
}

.logo-footer {
  margin-left: -65px;
}

@media (min-width: 1470px) {
  footer .container {
    max-width: 1440px;
  }
}

i {
  margin-right: 15px;
}

.head {
  margin-bottom: -20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.follow-toolbox {
  margin: 10px 0;
  display: inline-block;
  margin-right: 10px;
}

.icon-style {
  width: 32px;
  height: 32px;
  padding: 0px;
}

.icon-style > i {
  position: relative;
  padding: calc(50% - 10px); 
  margin: 0px;
}

.icon {  
  border-radius: 24%;
  border: none;
  margin: 3px;  
  line-height: 1;
}

.fa-lg {
  font-size: 1.4em;
  line-height: 1;  
}
